{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Accueil
{% endblock %}

{% block body %}
    {% if not first_visit %}
        {# Début de la charte en pop up non bloquante#}
        <div id="charte_popup">
            <div>
                <button type="button" class="close charte_close" data-dismiss="modal" title="Plus Tard">&times;</button>
                <h4 class="text-center">Charte d'engagement</h4>
            </div>
            <div class="well text-center" style="overflow-y: scroll; max-height: 250px;">
                <p id="texte-charte">L’association Nos Amis les Oiseaux s’engage quotidiennement pour la protection des oiseaux. En validant cette charte vous vous engagez à respecter les données qui vous seront accessibles après inscription et acceptez de saisir uniquement des observations réellement constatées dans le but d’alimenter un programme de recherche pour étudier les effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité</p>
            </div>
            <div class="text-center">
                <button class="charte_close btn btn-success"
                        onClick="setCookie('charte','charte_approved', 365, '/')">J'accepte
                </button>
            </div>
        </div>
        {# Fin de la charte en pop up non bloquante#}
    {% endif %}

    <section id="bloc_observer" class="row fond-vert">
        <div class="col-md-offset-3 col-md-6 text-center">
            <h1>Découvrez l'ornithologie <span class="saut-de-ligne">et alimentez</span> un projet de recherche
                innovant.</h1>
            <h2>Partout en France, partez à la découverte des oiseaux <span class="saut-de-ligne">et enregistrez vos observations.</span>
            </h2>
            <a href="{{ path('nao_platform_observer') }}">
                <button class="btn btn-lg bouton-main"><span class="texte-bouton">PARTICIPER</span></button>
            </a>
        </div>
    </section>

    <section id="bloc_dernieres_obs" class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
            <h1>Les dernières observations</h1>
            <div id="map"></div>
            <div id="observation" class="hidden"> <!-- -->
                {{ observation_JSON }}
            </div>
            <div id="typeCompte" class="hidden"> <!--  -->
                {{ typeCompte }}
            </div>
            <a href="{{ path('nao_platform_rechercher') }}">
                <button class="btn btn-lg bouton-main"><span class="texte-bouton">VOIR PLUS</span></button>
            </a>
        </div>
    </section>

    <section id="bloc_naturalistes" class="row fond-vert">
        <div class="col-md-offset-3 col-md-6 text-center">
            <h1>Naturaliste, <span class="saut-de-ligne">professionnel de l’ornithologie</span> ou amateur éclairé ?
            </h1>
            <h2>Aidez notre projet <span class="saut-de-ligne">en participant à la validation des observations.</span>
            </h2>
            {% if not is_granted('ROLE_USER') %}
                <a href="{{ path('nao_platform_demande') }}">
                    <button class="btn btn-lg bouton-main"><span class="texte-bouton">COLLABORER</span></button>
                </a>
            {% else %}
                <a href="{{ path('fos_user_profile_show') }}">
                    <button class="btn btn-lg bouton-main"><span class="texte-bouton">COLLABORER</span></button>
                </a>
            {% endif %}
            <div class="row">
                <div class="col-md-5 bloc-texte">
                    <h3 class="text-center">Notre Projet</h3>
                    <p class="text-center">
                        L’Association Nos Amis Les Oiseaux réunit des passionnés d’ornithologie et s’engage quotidiennement pour la protection des oiseaux rares.
                        <br><br>
                        Avec notre application, partez à la découverte des oiseaux et partagez votre passion partout en France. Enregistrez vos observations et vos photos sur le site et prenez part à un programme de recherche innovant pour étudier les effets du climat, de l’urbanisation et de l’agriculture sur l’évolution et les migrations des différentes espèces.
                        <br><br>
                        Je partage :
                        <br><br>
                        (Icones de partage de l’article)
                    </p>
                </div>
                <div class="col-md-offset-2 col-md-5 bloc-texte">
                    <h3 class="text-center">Notre Charte</h3>
                    <p class="text-center">
                        En participant à ce projet, vous vous engagez à respecter les données qui vous seront accessibles et acceptez de saisir uniquement des observations réellement constatées dans le but d’alimenter un programme d’étude.
                        <br><br>
                        Vous découvrez l’ornithologie ? Vous serez aidés dans la saisie de vos observations et nos naturalistes professionnels les valideront avant publication sur le site.
                        <br><br>
                        Vous êtes naturaliste professionnel et souhaitez participer à la validation des observations ? Envoyez nous votre CV lors de votre demande de compte naturaliste.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQcmtlhakbZxEK68_wVMjV59kWTyPK9eA&region=FR&callback=initMapHome">
    </script>
    <script>
        function setCookie(name, value, days2expire, path) {
            var date = new Date();
            date.setTime(date.getTime() + (days2expire * 24 * 60 * 60 * 1000));
            var expires = date.toUTCString();
            document.cookie = name + '=' + value + ';' +
                    'expires=' + expires + ';' +
                    'path=' + path + ';';
        }
    </script>
{% endblock %}