{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Observer
{% endblock %}

{% block body %}
        <h3>Formulaire de saisie</h3>
        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.especeNomVern, "Nom de l'espèce", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.especeNomVern) }}
                <div class="col-sm-6">
                    {{ form_widget(form.especeNomVern, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Lieu de l'observation</label>
                <div class="checkbox-inline">
                    {{ form_widget(form.localise) }}
                    {{ form_label(form.localise) }}
                    {{ form_errors(form.localise) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.dateObs, "Date de l'observation", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.dateObs) }}
                {{ form_widget(form.dateObs) }}

            </div>

            <div class="form-group">
                {{ form_label(form.photo, "Ajouter une photo", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.photo) }}
                <div class="col-sm-6">
                    {{ form_widget(form.photo) }}
                </div>
            </div>

            {{ form_rest(form) }}
            {{ form_widget(form.valider, {'attr': {'class': 'col-sm-offset-5 col-sm-2 btn btn-primary'}}) }}

            {{ form_end(form) }}
        </div>

{% endblock %}