{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Observer
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center" style="text-decoration: underline;">Formulaire de saisie</h3>
        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.especeNomVern, "Nom de l'espèce :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.especeNomVern) }}
                <div class="col-sm-6">
                    {{ form_widget(form.especeNomVern, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Lieu de l'observation :</label>
                <div class="checkbox-inline">
                    {{ form_widget(form.localise) }}
                    {{ form_label(form.localise) }}
                    {{ form_errors(form.localise) }}
                </div>
                <div id="map"></div>
            </div>

            <div class="form-group">
                {{ form_label(form.dateObs, "Date de l'observation :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.dateObs) }}
                {{ form_widget(form.dateObs) }}

            </div>

            <div class="form-group">
                {{ form_label(form.photo, "Ajouter une photo :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.photo) }}
                <div class="col-sm-6">
                    {{ form_widget(form.photo) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.commentaireP, "Votre commentaire :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.commentaireP) }}
                <div class="col-sm-6">
                    {{ form_widget(form.commentaireP) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_errors(form.lat) }}
                {{ form_errors(form.lon) }}
            </div>

            <div class="hidden">
                {{ form_widget(form.lat) }}
                {{ form_widget(form.lon) }}
            </div>

        {#    {{ form_rest(form) }} #}
            {{ form_widget(form.valider, {'attr': {'class': 'col-sm-offset-5 col-sm-2 btn btn-primary'}}) }}

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQcmtlhakbZxEK68_wVMjV59kWTyPK9eA&region=FR&callback=observerMap">
    </script>

{% endblock %}