{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Rechercher
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Formulaire de recherche</h3>
        <div class="well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}

            <div class="form-group form_search">
                    {{ form_label(form.nomVern, "Veuillez saisir le nom d'une espèce :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.nomVern) }}
                <div class="col-sm-3 btw_form">
                        {{ form_widget(form.nomVern, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_widget(form.rechercher, {'attr': {'class': 'btn btn-primary col-xs-3 decal_btn'}}) }}
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
        <div>
            {% if (observation_JSON is defined) %}
                {%  if (observation_JSON == '[]') %}
                     <div><p class="text-center">Aucune observation pour ce nom d'espèce "{{ nomEspece }}".</p></div>
                {%  else %}
                    <h3 class="text-center">Observations de l'espèce {{ nomEspece }}</h3>
                    <div id="map"></div>
                    <div id="observation" class="hidden"> <!-- -->
                        {{ observation_JSON }}
                    </div>
                {% endif %}
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQcmtlhakbZxEK68_wVMjV59kWTyPK9eA&region=FR&callback=initMapIndex">
    </script>

{% endblock %}