{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Rechercher
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Formulaire de recherche</h3>
        <div class="well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}

            <div class="form-group form_search">
                    {{ form_label(form.nomConcat, "Veuillez saisir le nom d'une espèce :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.nomConcat) }}
                <div class="col-sm-3 btw_form">
                        {{ form_widget(form.nomConcat, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div>
                {{ form_widget(form.rechercher, {'attr': {'class': 'btn btn-custom col-xs-3 decal_btn'}}) }}
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
            <span class="loader"></span>
        <div>
            {% if (observation_JSON is defined) %}

                {%  if (observation_JSON == '[]') %}
                    <h3 class="text-center">Aucune observation pour cette recherche : "{{ recherche }}".</h3>
                {%  else %}

                    <h3 class="text-center">Observations pour votre recherche "{{ recherche }}"</h3>

                    {% if listEspecesObservees|length > 1 %}
                        <h4>Espèces observées correspondantes :</h4>
                    {% else %}
                        <h4>Espèce observée correspondante :</h4>
                    {% endif %}

                    <ul>
                        {% for espece in listEspecesObservees %}
                            <li>{{ espece.nomConcat }} <a target="_blank" href="{{ espece.url }}">voir le descriptif INPN</a></li>
                        {% endfor %}
                    </ul>


                    <div id="map"></div>
                    <div id="observation" class="hidden"> <!-- -->
                        {{ observation_JSON }}
                    </div>
                    <div id="typeCompte" > <!-- class="hidden" -->
                        {{ typeCompte }}
                    </div>

                {% endif %}
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQcmtlhakbZxEK68_wVMjV59kWTyPK9eA&region=FR&callback=initMapHomeRechercher">
    </script>
    <script>
        $(function () {
            $(document).ajaxStart(function(){
                $(".loader").css("display", "block");
            });

            $(document).ajaxStop(function(){
                $(".loader").css("display", "none");
            });

        })
    </script>
{% endblock %}