{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Détail compte naturaliste
{% endblock %}

{% block body %}

    {% block fos_user_content %}

        {% include "NAOPlatformBundle:Profile:profile-layout.html.twig" %}

        <div class="row well col-lg-offset-4 col-lg-4 col-lg-offset-4 col-sm-offset-3 col-sm-6 col-sm-offset-3">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <h2>Détail du compte naturaliste {{ naturaliste.username }}</h2>

                <p>Nom : {{ naturaliste.nom }} <p>
                <p>Prenom : {{ naturaliste.prenom }} </p>
                <p>Email : {{ naturaliste.email }} </p>
                </p>Profession: {{ naturaliste.profession }} </p>
                <p>Motivation : {{ naturaliste.motivation }}</p>
                <p>CV : {{ naturaliste.cv }}</p>

              {{ form(form) }}

            {% endif %}
        </div>

    {% endblock %}

{% endblock %}