{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Demande de Compte Naturaliste
{% endblock %}


{% block body %}

    {% block fos_user_content %}

        {% include "NAOPlatformBundle:Profile:profile-layout.html.twig" %}

        <div class="container connexion_forms">
            <div class="row well col-sm-offset-1 col-sm-9 col-md-offset-2 col-md-8">
                {% if (user.enAttente == true) %}
                    <h4 class="well text-center">Vous avez déjà une demande en cours de traitement. Merci.</h4>

                    <strong><span id="chars">200</span> caractères restants</strong> {% else %}
                    <h4 class="text-center">Vous souhaitez faire une demande de compte naturaliste ? Remplissez ce
                        formulaire et nous vous répondrons dans les meilleurs délais.</h4>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                {% endif %}
            </div>
        </div>

    {% endblock %}

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            var length = 0;
            $('textarea').keyup(function() {
                var length = $(this).val().length;
                $('#chars').text(length);
            });
            $("#devenir_naturaliste_motivation").after('<div class="count"><br/><i><span id="chars">0</span> caractères saisis</i></div>');

        });

    </script>
{% endblock %}

