{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Modérer observations
{% endblock %}

{% block body %}

    {% block fos_user_content %}

        {% include "NAOPlatformBundle:Profile:profile-layout.html.twig" %}

        <div class="row well col-lg-offset-4 col-lg-4 col-lg-offset-4 col-sm-offset-3 col-sm-6 col-sm-offset-3">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {{ form_start(form) }}
                {{ form_end(form) }}

                <p><em>Les champs vides renverront l'ensemble des observations.</em></p>
            {% endif %}
        </div>
        <div class="container">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {% if listObserv is defined %}
                    <h2>Résultats de la recherche ({{ listObserv|length }})</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Espece observée</th>
                                <th>Date d'observation</th>
                                <th>Observé par</th>
                                <th>Statut</th>
                                <th>Traitée par</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% if listObserv|length == 0 %}
                            <p>Aucun résultat correspondant aux critères de recherche.</p>
                        {%  else %}
                            {% for observ in listObserv %}
                                <tr>
                                    <td>{{ observ.espece.nomConcat }}</td>
                                    <td>{{ observ.dateObs|date('d/m/Y H:i') }}</td>
                                    <td>{{ observ.user.username }}</td>
                                    <td>
                                        {% if observ.valide %}
                                            validée
                                        {%  elseif observ.enAttente  %}
                                            en attente
                                        {%  else %}
                                            refusée
                                        {% endif %}
                                    </td>
                                    <td>{% if observ.validateur.username is defined %}
                                            {{ observ.validateur.username }}
                                        {%  elseif observ.user.typeCompte == 0  %}
                                            en attente
                                        {%  else %}
                                            -
                                        {% endif %}

                                    </td>
                                    <td>
                                        <a class="btn btn-customp" href="{{ path('nao_profile_observation', {'id': observ.id}) }}">Voir plus</a>
                                       </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>

                {% endif %}

            {% endif %}
        </div>

    {% endblock %}

{% endblock %}