{% extends "NAOPlatformBundle::layout.html.twig" %}
{% block title %}
    Compte
{% endblock %}

{% block body %}
<div class="row well col-lg-offset-4 col-lg-4 col-lg-offset-4 col-sm-offset-3 col-sm-6 col-sm-offset-3" style="margin-top: 25px;">
    <h2 style="text-align: center">Bonjour, <strong>{{ user.username }}</strong></h2>

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
        <div class="fos_user_user_show">
        <p><strong style="text-decoration: underline">{{ 'profile.show.username'|trans }}</strong> : {{ user.username }}</p>
        <p><strong style="text-decoration: underline">{{ 'profile.show.email'|trans }}</strong> : {{ user.email }}</p>
        <br>
        <div class="row">
            <a href="{{ path('fos_user_security_logout') }}">
                <button class="btn btn-danger btn-block">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</button></a><br>
            <a href="{{ path('fos_user_change_password') }}">
                <button class="btn btn-default btn-block"> Modifier mon mot de passe</button></a><br>
            <a href="{{ path('fos_user_profile_edit') }}">
                <button class="btn btn-default btn-block">Modifier mon profil</button></a><br>
        </div>
    </div>

    <div>
        {% if not is_granted('ROLE_SUPER_ADMIN') %} {#Pour tous les user sauf admin#}
            <h2>Vos observations</h2>
                <!-- Afficher sous forme de tableau -->
            <ul>
                {% for observation in listObserv %}
                    <li>
                        <p>Date de l'observation: {{ observation.dateObs|date('d/m/Y H:i') }} </p>
                        <p>Nom de l'espèce : {{ observation.especeNomVern.nomVern }} </p>
                        <p>Coordonnées GPS : {{ observation.lat }}, {{ observation.lon }} </p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        {% if (is_granted('ROLE_ADMIN') and (is_granted('ROLE_SUPER_ADMIN') == false)) %}
            <h2>Liste des observations à valider</h2>
            <ul>
            {% for observation in ObservNonValide %}
                <li>
                    <p>Date de l'observation: {{ observation.dateObs|date('d/m/Y H:i') }} </p>
                    <p>Nom de l'espèce : {{ observation.especeNomVern.nomVern }} </p>
                    <p>Coordonnées GPS : {{ observation.lat }}, {{ observation.lon }} </p>
                    <button>Voir plus</button>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <h2>Liste des comptes naturalistes à valider</h2>
            <ul>
                {% for compte in comptesNatNonValides %}
                    <li>
                        <p>nom : {{ compte.nom }} prenom: {{ compte.prenom }} profession: {{ compte.profession }} <button>Voir plus</button></p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock fos_user_content %}

{% endblock %}
